.skills{
    font-size: 90px;
    list-style-type:none ;
    color: #868e96;
    
}

.line{
    display: flex;
}
   

.name{
    font-size :20px;
    color: black;
    text-align: center;
}

.skill-heading{
    font-size: 30px;
}


.skill{
    padding-left: 50px;
    font-size: 60px;
    
}

    
