.Intro{
    float: left;
}

.heading{
    font-size: 50px;
    
}

.shortintro{
    font-size: 23px;
    color:#868e96;
}

.buttons {
    background-color: #55198b;
    border: solid 1px #55198b;
    color: white;
    font-weight: 700;
    width: max-content;
    padding: 13px 22px;
    margin-right: 50px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }
  .buttons:hover {
    background-color: #ffffff;
    color: #55198b;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
  }

.button-div{
    display: flex;
}