.navbar{
    display: grid;
    background: white;
    padding: 0rem 0rem;
    grid-template-columns: auto 1fr;
}

.navlinks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type:none;
    align-self: center;
    
}

.nav-link{
    text-decoration:none ;
    text-align: center;
    color: black;
    font-size: 20px;

}