.card{
    display: flex;
    width: 400px;
    height: 500px;
    float: left;
    padding-left: 330px;
    padding-top: 50px;
    
}

.project-heading{
    text-align: center;
    font-size: 40px;
}



.card1{
    display: flex;
    width: 400px;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;    
}



.projects{
    padding-bottom: 30px;

}
