.cdetails{
    text-align: center;
    font-size: 20px;

}
.contact-heading{
  text-align: center;
  font-size: 50px;
} 



.cdetails :hover {
  color: black;
  text-shadow: 2px 1px 2px #b5b5b5;
  transition: all 0.3s;
  
}
